html {
    background-color: #f5e7ff;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #74578d;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 25px;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #baa0d1;
    height: 650px;
    width: 500px;
    border-radius: 15px;
    padding: 5px;
}

.screen {
    background-color: #ced1a3;
    height: 200px;
    width: 460px;
    margin: 20px;
    border-radius: 15px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 112px;
    height: 80px;
    border-radius: 30px;
    margin: 5px;
    margin-bottom: 8px;
    font-size: 30px;
    background-color: #efe6f7;
}

#all-clear {
    background-color: rgb(245, 213, 239);
}

#clear {
    background-color: rgb(245, 213, 239);
}

#sign {
    background-color: rgb(245, 213, 239);
}

#percent {
    background-color: rgb(245, 213, 239);
}

#divide {
    background-color: rgb(251, 226, 230);
}

#multiply {
    background-color: rgb(251, 226, 230);
}

#subtract {
    background-color: rgb(251, 226, 230);
}

#add {
    background-color: rgb(251, 226, 230);
}